* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
  background-color:#EE7C48;
}

.header__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo{
    width: 100px;
}

.navbar {
    width: 400px;
}
.navbar__items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.navbar__link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.navbar__link:hover {
    color: hsl(0, 3%, 49%);
}


.buscarMain{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Buscador{
    display: flex;
    width: 80%;
    margin-top: 15px;
    justify-content: space-between;
}

.btns{
    width: 250px;
    display: flex;
    justify-content: space-around;
}

.btnEspañol{
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: #F39744;
    color: white;
    font-weight: bold;
    
}

.btnIngles{
    border: none;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: #C5C5C5;
    color: white;
    font-weight: bold;
}

.buscar{
    display: flex;
    align-items: center;
    background-color: #C5C5C5;
    border-radius: 10px;
    width: 80%;

}

.imgLupa{
    width: 25px;
    padding-left: 5px;
}

.inputBuscar{
    background-color: #C5C5C5;
    border: none;  
    width: 95%; 
    height: 100%; 
    outline: none;
    padding-left: 5px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.literaturaEscritura{
    width: 80%;
    
}

.rectangulo{
    width: 100%;
    height: 300px;
    margin-top: 25px;
    background-color: #F8C18B;
    border-radius: 300px 0px 0px 0px;
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
}

.containerRight{
    width: 70%;
}

.title{
    color:#EC6D0C ;
    font-size: 90px;
    font-weight: 550;
}

.logo3{

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.containerLibros{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerDestacados{
    width: 80%;
    margin-top: 20px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.destacadosTitle{
    font-size: 15px;
    color: #EC6D0C;
}

.destacadosImg{
    width: 25px;
}

.containerRecientes{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.containRecinetes{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.containerBooks{
    width: 100%;
    display: flex;
    justify-content: center;

}

.containBooks{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.formaBooks{
    margin-top: 10px;
    border-radius: 10px;
    height: 300px;
}

/*Reciente*/
.CardsTitles{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleCard{
    font-weight: 100;
}

.subTitleCard{
    font-weight: 100;
    color: #EC6D0C;
}
