* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
  background-color:#EE7C48;
}

.header__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo{
    width: 100px;
}

.navbar {
    width: 400px;
}
.navbar__items {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
  
.navbar__link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.navbar__link:hover {
    color: hsl(0, 3%, 49%);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top{
    background-color: #F8C18B;
    width: 100%; /* Ancho del div al 100% del ancho del contenedor */
    height: 5%; /* Altura del div al 10% del alto del contenedor */
}
.bot{
    width: 100%; /* Ancho del div al 100% del ancho del contenedor */
    height: 100%; /* Altura del div al 10% del alto del contenedor */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}
.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EE7C48;
    height: 12%;
    width: 25%; /* Ancho del div al 100% del ancho del contenedor */
    border-radius: 10px;
    font-weight: bold;
}
.container_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #EE7C48;
    width: 20%; /* Ancho del div al 100% del ancho del contenedor */
    border-radius: 10px;
    height: 60%;
    padding: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #EE7C48;
    width: 100%; /* Ancho del div al 100% del ancho del contenedor */
    border-radius: 10px;
    height: 100%;
    
}

.item-info{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}