* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
  background-color:#EE7C48;
}

.header__navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo{
    width: 100px;
}

.navbar {
    width: 400px;
}
.navbar__items {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
  
.navbar__link {
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    display: block;
    height: 112px;
    padding-top: 42px;
}
 
.main{
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerMain{
    width: 80%;
}
.title{
    margin-top: 40px;
    color: #EE7C48;
}
.containerBotones{
    display: flex;
    margin-top: 40px;
}
.btnG{
    background-color: #7D7D7D;
    color: white;
    margin-right: 20px;
    width: 90px;
    height: 25px;
    border: none;
    border-radius: 15px;
}
.btnP{
    border-style:dashed;
    width: 90px;
    height: 25px;
    border-radius: 15px;
    background-color: white;
}

/*ESTILOS TABLA*/

.tabla-estilizada {
    width: 100%; 
    border-collapse: collapse;  
    font-family: Arial, sans-serif; 
    margin-top: 40px;
    text-align: left;
}

.tabla-estilizada th, .tabla-estilizada td {
    border: none; 
    padding: 12px; 
}

.tabla-estilizada tbody tr:hover {
    background-color: #e8e8e8; 
}

.containerTitulo{
    width: 100%;
 

}
.titulos{
    color: #EE7C48;
    border-bottom: 3px solid #EE7C48;

}

.descripcion{
    display: flex;
    align-items: center;
    gap: 15px;
}
.desTitulo{
    font-weight: bold;
}
.desSubtitulo{
    color: #EE7C48;
}

